/* ------------------------------------------------------------------------- *
 *
 * Developer: Archie Makuwa
 * Struto Ltd.
 *
 * Custom Stylesheets in the child theme should be added to this file.
 * The CSS overwrites the default styles in the parent theme
/* ------------------------------------------------------------------------- */



/* ------------------------------------------------------------------------- *
 *  Load Custom Fonts
/* ------------------------------------------------------------------------- */
@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light-webfont.eot');
    src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-light-webfont.woff2') format('woff2'),
    url('../fonts/raleway-light-webfont.woff') format('woff'),
    url('../fonts/raleway-light-webfont.ttf') format('truetype'),
    url('../fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.eot');
    src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
    url('../fonts/raleway-regular-webfont.woff') format('woff'),
    url('../fonts/raleway-regular-webfont.ttf') format('truetype'),
    url('../fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* ------------------------------------------------------------------------- *
 *  Init and Overwrite Fonts
/* ------------------------------------------------------------------------- */

body {
    font-family: "ralewayregular";
}

h1,
h2,
h3,
h4,
h5,
h5 {
    font-family: "ralewayregular";
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h5 a {
    font-family: "ralewayregular";
}

a {
    color: #4bb3d2;
    opacity: 1;
}

a:hover {
    opacity: 0.8;
}




/* ------------------------------------------------------------------------- *
 *  Header Custom Styles
/* ------------------------------------------------------------------------- */

#header {
    background: #f7f7f7 !important;
}

#nav-header .nav-toggle {
    color: #000;
}

#header .pad {
    padding-bottom: 20px;
    padding-top: 30px;
}

.home .page-title {
    display: none !important;
    /* padding: 15px 0 0 10px !important; */
}

.page-title {
    /* padding: 0 !important; */
}

.site-description {
    color: #686868;
}

.site-title {
    padding: 0;
}

.site-title a {
    color: #000;
}

.site-title a img {
    max-height: 70px;
}




/* ------------------------------------------------------------------------- *
 *  Navigation Custom Styles
/* ------------------------------------------------------------------------- */

#nav-header .nav-wrap{
    background: #33363b;
}





/* ------------------------------------------------------------------------- *
 *  Body Custom Styles
/* ------------------------------------------------------------------------- */

.entry p,
.entry dd {
    clear: both;
}

.entry,
.entry.share {
    color: #666 !important;
    font-family: inherit;
    font-size: 17px;
}

.entry img {
    margin-top: 5px !important;
}

.post-title a {
    color: #4bb3d2 !important;
}

.post-title a:hover {
    color: #46a879 !important;
}

article.format-video .entry-inner img {
    display: none;
}

#page {
    background: url("../img/open-magazine-background-image.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Hack Introduction Post Image */
.postid-324 img.wp-post-image {
    display: none;
}




/* ------------------------------------------------------------------------- *
 *  Custom Videos - Masonry Layout
/* ------------------------------------------------------------------------- */

.video-widgettitle {
    display: block;
    font-family: "ralewayregular";
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
    text-transform: uppercase;
}

.grid-item {  bordeR: 1px solid red; display: block; /* height: 100px; */


    width: 200px;
}

.grid-item--width2 { bordeR: 1px solid blue; display: block; /* height: 100px; */



    width: 400px;
}





/* ------------------------------------------------------------------------- *
 *  Sidebar Custom Styles
/* ------------------------------------------------------------------------- */

.sidebar .widget {
    padding: 20px !important;
}

.widget > h3 {
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    margin: 0 0 5px;
    padding: 0;
}

.s1 .sidebar-top,
.s1 .sidebar-toggle {
    background: #6cb0d5;
}

.s2 .sidebar-top,
.s2 .sidebar-toggle {
    background: #8f60a8;
}

.sidebar-top p {
    font-family: "ralewayregular";
}

.s2 #text-11 {
    background-color: #9F6FAD;
}

.s2 #text-13 {
    background-color: #8bac5f;
}

.s2 #text-5 {
    background-color: #d74c4d;
}

.s2 #text-6 {
    background-color: #e7a438;
}

.s2 #text-11 h3,
.s2 #text-13 h3,
.s2 #text-5 h3,
.s2 #text-6 h3 {
    color: #fff
}

.s2 #text-13 p,
.s2 #text-5 p,
.s2 #text-6 p {
    color: #FFF;
}

.s2 #text-11 .textwidget a {
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-family: "ralewayregular";
    font-size: 16px;
    margin-top: 10px;
    padding: 5px ;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

.s1 #alxposts-5 {
    padding: 20px 0 !important;
}

.s1 #alxposts-5 h3 {
    padding-left: 20px;
}

.s1 #alxposts-5 ul.alx-posts li {
    padding: 20px;
}

.s1 #alxposts-5 ul.alx-posts li:nth-child(even) {
    background-color: #6cb0d5;
}

.s1 #alxposts-5 ul.alx-posts li:nth-child(even) * {
    color: #fff !important;
}



/* ------------------------------------------------------------------------- *
 *   CTAs
/* ------------------------------------------------------------------------- */

.home-bottom { }

.home-bottom .widget_alx_posts {
    margin-bottom: 30px;
}

.home-bottom h2.widgettitle {
    display: block;
    font-family: "ralewayregular";
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
    text-transform: uppercase;
}

.home-bottom .widget_alx_posts {
    list-style-type: none !important;
}

.home-bottom #alxposts-2 ul.alx-posts li,
.home-bottom #alxposts-3 ul.alx-posts li {
    /* border-right: 1px solid red; */
    display: block;
    float: left;
    height: 260px;
    margin: 0 10px;
    list-style-type: none !important;
    width: calc(33.33% - 20px) !important;
}

.home-bottom #alxposts-2 ul.alx-posts li:last-child,
.home-bottom #alxposts-3 ul.alx-posts li:last-child {
    border-right: 0;
    margin-right: 0;
    padding-right: 0;
}




/* ------------------------------------------------------------------------- *
 *  Footer CTAs
/* ------------------------------------------------------------------------- */

#footer-widgets h3 {
    display: block;
    height: 95px;
    margin-bottom: 15px;
}

#footer-widgets .textwidget p {
    display: block;
    height: 125px;
}



/* ------------------------------------------------------------------------- *
 * Sidebar Blog Subsciption
/* ------------------------------------------------------------------------- */

.hs-form.stacked label {
    font-family: "ralewayregular" !important;
    color: #222 !important;
    float: left !important;
    font-weight: 600 !important;
    margin: 0 0 12px !important;
    position: relative !important;
    width: 100% !important;
}

.hs-form .hs-input,
.hs-form textarea.hs-input {
    border: 2px solid #ddd !important;
    color: #777 !important;
    font-size: 14px !important;
    max-width: 100% !important;
    outline: medium none !important;
    transition: all 0.2s ease 0s !important;
}

input.hs-input.error,
.hs-form div.field.error input,
.hs-form div.field.error textarea,
.hs-form div.field.error .chzn-choices,
textarea.hs-input.error {

}



/* ------------------------------------------------------------------------- *
 *  Pre-Footer Custom Styles
/* ------------------------------------------------------------------------- */

#link-to-site {
    background: #6CB0D5;
    padding: 40px 0;
}

.official-site {
    text-align: center;
}

.official-site h2,
.official-site a {
    color: #fff !important;
}

.official-site h2 {
    font-family: "ralewayregular";
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.official-site a {
    background-color: #D94D4C;
    display: block;
    margin: 20px auto 0;
    opacity: 1;
    padding: 10px 20px;
    text-align: center;
    max-width: 120px;
    width: 120px;
}

.official-site a:hover {
    opacity: 0.8;
}



/* ------------------------------------------------------------------------- *
 *  Footer Custom Styles
/* ------------------------------------------------------------------------- */

footer ul.social-links li a { }

footer ul.social-links li a.social-tooltip i.fa.fa-linkedin { }




/* ------------------------------------------------------------------------- *
 *  Responsive Custom Styles
/* ------------------------------------------------------------------------- */

@media (max-width:1240px) {

    #footer-widgets h3 {
        height: 125px;
    }

    #footer-widgets .textwidget p {
        height: 145px;
    }

}



@media (max-width:1080px) {

    #footer-widgets h3 {
        height: 125px;
    }

    #footer-widgets .textwidget p {
        height: 180px;
    }

}



@media (max-width:920px) {

    #footer-widgets h3 {
        height: 155px;
    }

    #footer-widgets .textwidget p {
        height: 220px;
    }

}



@media (min-width:720px) and (max-width:860px) {

    #footer-widgets h3 {
        height: 190px;
    }
}



@media (max-width:719px) {

    .home-bottom #alxposts-2 ul.alx-posts li,
    .home-bottom #alxposts-3 ul.alx-posts li {
        height: auto;
        width: 100% !important;
    }

    #footer-widgets h3 {
        height: auto;
    }

    #footer-widgets .textwidget p {
        height: auto;
    }

}
