/* ------------------------------------------------------------------------- *
 *
 * Developer: Archie Makuwa
 * Struto Ltd.
 *
 * Custom Stylesheets in the child theme should be added to this file.
 * The CSS overwrites the default styles in the parent theme
/* ------------------------------------------------------------------------- */



/* ------------------------------------------------------------------------- *
 *  Custom Desktop Styles
/* ------------------------------------------------------------------------- */

#header {
    background: #f7f7f7 !important;
}

#header .pad {
    padding-bottom: 20px;
    padding-top: 30px;
}

.site-description {
    color: #686868;
}

.site-title {
    padding: 0;
}

.site-title a img {
    max-height: 80px;
}

#nav-header .nav-wrap{
    background: #33363b;
}



/* ------------------------------------------------------------------------- *
 *  Custom Tablet & Mobile Styles
/* ------------------------------------------------------------------------- */

